#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 1px solid grey;
    background-color: black;
    margin: 0;
    padding: 0;
}
.pixel {
    height: 5px;
    width: 5px;
    margin: 0;
    padding: 0;
}

#inactive {
    background-color: white;
}


#active {
    background-color: black;
}